{% extends 'base.html.twig' %}



{% block body %}

<div class="container">

    <div class="title-wrapper">
        <h1 class="title">Splap</h1>
        <h4 class="sub-title">Your simple savings planning app.</h4>
    </div>

    <div class="form-wrapper">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit">Save</button>
        {{ form_end(form) }}
    </div>

    <div id="card-list" class="card-wrapper">
    {% for savingsGoal in savingsGoals %}
        <div class="card">
            <h2>{{ savingsGoal.name }}</h2>
            <p>Target: {{ savingsGoal.target }}</p>
            <p>Due Date: {{ savingsGoal.duedate|date('Y-m-d') }}</p>
            <p>Monthly Contribution: {{ savingsGoal.monthlyContribution }}</p>
            <span class="handle"> <i class="fas fa-grip-vertical"></i></span>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}