{% extends 'base.html.twig' %}


{% block body %}

<a href="{{ path('splap_add') }}" class="add-button">Add a Goal</a>
<div id="card-list" class="card-wrapper">
    {% for savingsGoal in savingsGoals|reverse %}
        <script>

            document.addEventListener('DOMContentLoaded', function() {
                let color = "{{ savingsGoal.color }}";
                var ctx = document.getElementById('targetChart' + {{ loop.index }}).getContext('2d');
                var chart = new Chart(ctx, {
                    type: 'doughnut',
                    data: {
                        datasets: [{
                            data: [{{ savingsGoal.contributedAmount }}, {{ savingsGoal.target - savingsGoal.contributedAmount }}],
                            backgroundColor: [color, 'rgba(23, 23, 23, 0.85)'],
                            borderWidth: 3,
                            borderColor: 'rgba(23, 23, 23, 0.85)'
                        }],
                    },
                    options: {
                        responsive: true,
                        aspectRatio: 2,
                        cutoutPercentage: 80
                    }
                });
            });
        </script>

        <div class="card" data-link="{{ path('splap_edit', {'id': savingsGoal.id}) }}">
            <h2>{{ savingsGoal.name }}</h2>
            <canvas class="chart" id="targetChart{{ loop.index }}"></canvas>
            <p class="needed">Needed: £{{ savingsGoal.monthlyContribution == savingsGoal.monthlyContribution|round ? savingsGoal.monthlyContribution|round : savingsGoal.monthlyContribution|number_format(2, '.', ',') }}/month</p>
            <span class="handle"> <i class="fas fa-grip-vertical"></i></span>
            <a href="{{ path('splap_delete', {'id': savingsGoal.id}) }}" data-id="{{ savingsGoal.id }}" class="delete-link"><i class="fas fa-times"></i></a>
        </div>
    {% endfor %}
</div>

{% endblock %}