{% extends 'base.html.twig' %}



{% block body %}

<div class="container">

    <div class="title-wrapper">
        <h1 class="title">Splap</h1>
        <h4 class="sub-title">Your simple savings planning app.</h4>
    </div>

    <div class="form-wrapper">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit">Save</button>
        {{ form_end(form) }}
    </div>

    <div id="card-list" class="card-wrapper">
        {% for savingsGoal in savingsGoals %}
            <script>
                document.addEventListener('DOMContentLoaded', function() {
                    var ctx = document.getElementById('targetChart' + {{ loop.index }}).getContext('2d');
                    var chart = new Chart(ctx, {
                        type: 'pie',
                        data: {
                            datasets: [{
                                data: [{{ savingsGoal.contributedAmount }}, {{ savingsGoal.target }}],
                                backgroundColor: ['#FF6961', '#77DD77']
                            }],
                        },
                        options: {
                            responsive: true,
                            aspectRatio: 2
                        }
                    });
                });
            </script>
            <div class="card" data-link="{{ path('card_detail', {'id': savingsGoal.id}) }}">
                <canvas class="chart" id="targetChart{{ loop.index }}"></canvas>
                <h2>{{ savingsGoal.name }}</h2>
                <p>Target: {{ savingsGoal.target }}</p>
                <p>Due Date: {{ savingsGoal.duedate|date('Y-m-d') }}</p>
                <p>Monthly Contribution: {{ savingsGoal.monthlyContribution }}</p>
                <p> Contributed amount: {{ savingsGoal.contributedAmount }}</p>
                <span class="handle"> <i class="fas fa-grip-vertical"></i></span>
                <a href="{{ path('splap_delete', {'id': savingsGoal.id}) }}" data-id="{{ savingsGoal.id }}" class="delete-link"><i class="fas fa-times"></i></a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}